<% layout('layout') -%>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#data').DataTable();
  });
</script>

    <div class="col-md-8 col-md-offset-2">
    <div><button class="pull-right btn btn-primary" data-toggle="modal" data-target="#myModal">Add new book</button></div>
    <h1>List of books</h1>
    <table id="data" class="display">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Category</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>Storytelling</td>
            <td>Tales of the moonlight</td>
            <td>Wole Soyinka</td>
            <td>
              <a href="#" title="Borrow Book">
                <i class="glyphicon glyphicon-plus"></i>
              </a>
              <a href="#" title="Modify Book" style="margin-left: 10px">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>

        </tr> -->
        <% books.forEach(function(book) { %>
               <tr> <td> <%-  book.book_id  %> </td> <td> <%-  book.book_category  %> </td> <td> <%-  book.book_tile  %> </td> <td> <%-  book.book_author  %> </td> <td> <%-  book.book_qty  %> </td> <td> <a href="#" title="Borrow Book"> <i class="glyphicon glyphicon-plus"> <% -%> </i> </a> <a href="#" title="Modify Book" style="margin-left: 10px"> <i class="glyphicon glyphicon-pencil"> <% -%></i> </a> </td> </tr>
           <% }) %>
    </tbody>
</table>

    </div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Book Details</h4>
      </div>
      <div class="modal-body">
        <form>
      <div class="form-group">
        <label for="bookCategory" class="control-label">Book Category</label>
        <input type="text" class="form-control" id="bookCategory">
      </div>
      <div class="form-group">
        <label for="bookTitle" class="control-label">Book Title</label>
        <input class="form-control" id="bookTitle" type="text"></input>
      </div>
      <div class="form-group">
        <label for="bookAuthor" class="control-label">Book Author</label>
        <input class="form-control" id="bookAuthor" type="text"></input>
      </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button class="btn btn-primary pull-right">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->